server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/doodzthreads
    username: alex
    password: ${DB_PASSWORD:}

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  thymeleaf:
    cache: false

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
