server:
  port: 9090

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/doodzthreads
    username: alex
    password: ${DB_PASSWORD:}

  config:
    import: optional:application-secrets.yaml

  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
    show-sql: true

  flyway:
    enabled: true
    locations: classpath:db/migration

  thymeleaf:
    cache: false

gelato:
  baseUrl: https://ecommerce.gelatoapis.com
  apiKey: ${GELATO_API_KEY:}
  storeId: ${GELATO_STORE_ID:}

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
